body{
  margin: 0;
  font-family: 'Raleway';
  background-color: lightgray;
  font-size: 15px;
  line-height: 1.5;
}

.page{
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (min-width:1400px){
  .page{
    margin-left: 125px;
    margin-right: 125px;
  }
}


.title{
  background: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins';
}

.title{
transform: translate(-50%,-50%);
padding: 12px 48px;
color: #ffffff;
background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
background-position: 0;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: shine 3s infinite linear;
animation-fill-mode: forwards;
-webkit-text-size-adjust: none;
font-weight: 600;
font-size: 36px;
text-decoration: none;
white-space: nowrap;
}
  
@keyframes shine{
0%{
  background-position: 0
}
60%{
  background-position: 180px
}
100%{
  background-position: 180px
}
}

.top{
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.name{
  font-size: 36px;
  font-weight: 400;
}


.black, .third-right-tag-active{
  background-color: black;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
  padding-top: 1px;
  color: white;
  text-align: center;
  display: inline-block;
}

.pseudo{
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.pseudo{
  color: #484848;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
}

.pseudo span{
  transition: .3s linear;
}
.pseudo:hover span{
  margin-right: 1.5px;
}
.pseudo:hover span{
  color: black;
  text-shadow: 0 0 10px #000,
               0 0 20px #000,
               0 0 40px #000;
}



.row{
  overflow: auto;
}

.row-left{
  float: left;
}

@media screen and (min-width: 993px) {
  .row-left{
    width: 66.66666%;
  }
}

.left{
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  background-color: white;
  box-sizing: border-box;
  margin: 16px !important;
}
.left-image{
  width: 100%;
}
.left-text{
  padding: 0.01em 16px;
}
.left-text-title{
  margin-top: 10px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.left-text-date{
  color: gray;
}
.left-text-title-description{
  font-size: 18px;
}
.left-text-description{
  padding: 0.01em 16px;
  padding-bottom: 17px;
}
.left-text-description-last{
  vertical-align: middle;
  margin-right: 10px;
}

.left-readmore-two, .previous, .next{
  border: 1px solid #ccc !important;
  padding: 12px 24px !important;
  font: inherit;
  font-weight: 700;
  cursor: pointer;
  background-color: white;
}
.left-readmore-two:hover{
  background-color: lightgray;
}
.left-comments-one{
  float: right;
}
.first-left-comments-number{
  color: white;
  background-color: black;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  display: inline-block;
  padding-bottom: 1px;
}
.second-left-comments-number{
  color: white;
  background-color: black;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block;
  text-align: center;
  padding-bottom: 1px;
}

@media screen and (min-width: 993px){
  .row-right{
    width: 33.333333%;
  }
}

.row-right{
  float: left;
}
.first-right, .second-right, .third-right{
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  box-sizing: border-box;
  background-color: white;
  margin: 16px !important;
}
.first-right-image{
  width: 100%;
}
.first-right-text{
  padding: 0.01em 16px;
}
.first-right-text-title{
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}

.second-right-title-design, .third-right-title-design{
  background-color: rgb(241, 241, 241);
  padding: 8px 16px !important;
}
.second-right-title, .third-right-title{
  margin: 10px 0;
  font-weight: 400;
}
.second-right-posts{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.second-right-posts li{
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}
.post{
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.post-image{
  width: 50px;
  margin-right: 10px !important;
  float: left;
  vertical-align: middle;
}
.post-title{
  font-size: 17.5px;
}

.third-right-tags-list{
  background-color: white;
  padding: 0.01em 16px;
}
.third-right-tag-active{
  background-color: black;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}
.third-right-tag{
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: #ddd;
  text-align: center;
  display: inline-block;
  font-size: 12px !important;
  margin-bottom: 16px!important;
}


.footer{
  background-color: #616161!important;
  color: white !important;
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  margin-top: 16px !important;
  padding: 0.01em 16px;
}
.previous{
  background-color: #ccc !important;
  opacity: 0.3;
  cursor: not-allowed;
  font-weight: 400 !important;
  margin-bottom: 16px !important;
}

.next{
  background-color: black !important;
  color: white !important;
  font-weight: 400 !important;
  margin-bottom: 16px !important;
}