body{
  margin: 0;
  background-color: lightgray;
  font-family: 'poppins', sans-serif;

}

.navbar{
  position: fixed;
  background-color: white;
  height: 90px;
  width: 100%;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
.navbar-content{
  max-height: 90px;
}

.navbar-container{
  max-height: 80px;
  display: flex;
}

.navbar-padding{
  padding: 15px;
}
.navbar-logo{
  margin-right: auto;
  padding-left: 30px;
}

.navbar-logo a{
  display: flex;
  float: left;
  text-decoration: none;
  color: black;
}

.navbar-logo-text{
  font-weight: bold;
  padding-top: 18.5px;
}

.navbar-right{
  display: flex;
  padding-right: 35px;
}
.navbar-right-content{
  padding-top: 18.5px;
}
.navbar-right-content a{
  text-decoration: none;
  color: black;
}

.navbar-link{
  margin-right: 15px;
}

.navbar-link:hover{
  color: #67B7D1;
  transition: all 0.3s ease;
}

.navbar-link.active{
  color: #69a6c2;
}